<style>

nav > li {
  list-style-type: none;
  margin-left: 1.5em;
}

nav > li > a {
 color: black;
 text-decoration: none;
 font-size: 1.3em;
}

nav > li > a:hover {
  text-decoration: underline;
  color: black
 }

.more-margin {
  margin-left: 3em
}


</style>


  <nav>
    <a href="/" style="text-decoration: none">
      <div style="font-size: 5em; width: 100%; text-align: center; color: black;">LOGO</div>
    </a>
    <li><a href=page1>page 1</a></li>
    <li><a href=page2>page 2</a></li>
    <li><a href=page3>page 3</a></li>
      <li class="more-margin"><a href=page1>page 1</a></li>
      <li class="more-margin"><a href=page2>page 2</a></li>
      <li class="more-margin"><a href=page3>page 3</a></li>
  </nav>



<script>
  headerBar = document.querySelector(".header-bar")
</script>
