<style>
nav > li > a {
 color: black;
 text-decoration: none;
 font-size: 1.3em;
}

nav > li > a:hover {
  text-decoration: underline;
  color: black
 }


</style>

<% list_items = [{name: "page 1", route: "page1"}, {name: "page 2", route: "page2"}, {name: "page 3", route: "page3"}]%>

  <nav>
    <a href="/" style="text-decoration: none">
      <div style="font-size: 5em; width: 100%; text-align: center; color: black;">LOGO</div>
    </a>
    <% list_items.each do | item |%>
    <li><a href=<%=item[:route]%>><%=item[:name]%></a></li>
    <%end%>
  </nav>



<script>
  headerBar = document.querySelector(".header-bar")
</script>
