
<style>
/* L I S T */
.list a {
  color: black; text-decoration: none;
  display: block;
  padding: 0.6em;

  font-size: 1.2em;

  border-bottom: 1px solid black;
}

.list li:last-child > a:last-child{
  /* border-bottom: 1px solid black; */
}

.list > li:first-child > a:first-child {
  border-top: 1px solid black;
}

.list li {
  list-style-type: none;
}

.list {
  padding: 0px;
}

.list a:hover {
  color: white; background-color: black;


}
</style>


  <nav>
    <a
    <%# href="/"  %>
    style="text-decoration: none" class="post">
      <div style="font-size: 5vw; width: 100%; text-align: center; color: black;">LOGO</div>
    </a>
    <%= image_tag('hamburger.svg', id: "hamburger") %>


    <ul class="list">
     <li> <a href=page1>page 1</a> </li>
     <li> <a href=page1>page 2 has a really long title</a> </li>
     <li> <a href=page1>page 3</a>
        <ul>
          <li><a href=page1>page 3.1</a></li>
          <li><a href=page1>page 3.2 has an even longer title, like really long</a></li>
        </ul>
        </li>
    </ul>
  </nav>



<script>
  headerBar = document.querySelector(".header-bar")
</script>

<script>
var hamburger = document.querySelector("#hamburger");
var list = document.querySelector(".list");
console.log(list.offsetWidth)
hamburger.addEventListener("click", function() {
  if (list.style.height === "0px") {
    list.style.height = list.offsetWidth/2 + "px";
  } else {
    list.style.height = "0px";
  }
});


</script>
