       <div class="header-bar">

          <div id="search-bar" style="text-align: end; padding: 3px">
            <%= form_tag(posts_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search posts" %>
<%#               <%= image_tag 'image_path.jpg', alt: 'Image description' %>
              <%= image_submit_tag('lupa.svg') %>
            <% end %>
          </div>
       </div>
