<div style="display: flex; max-width: 80vw; overflow: hidden; position: relative">
  <div id="post" style="width: 0vw; transition: width 0.7s ease; position: absolute; z-index: 10"><%= render "shared/post"%></div>
  <div><%= render "shared/posts" %></div>

</div>
